h1 {
  text-align: center;

  border: rgb(101, 85, 197);
}
/* body {
  background-image: url(/img/Contactsfon2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}*/
